*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --font-family: "Roboto", sans-serif;

  /* Colors */
  --color-bg-dark: #1f2937;
  --color-accent: #3882f6;
  --color-text-light: #f9faf8;
  --color-muted: #e5e7eb;

  /* Font scale */
  --font-size-sm: 18px;
  --font-size-md: 24px;
  --font-size-lg: 36px;
  --font-size-xl: 48px;

  /* Font weights */
  --font-weight-bold: 900;
  --font-weight-light: 300;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  margin: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

p{
    font-size: var(--font-size-sm);
}

/* Buttons */

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 6px 20px;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-sm);
  cursor: pointer;
  border: none;
}

.btn-primary {
  background-color: var(--color-accent);
  color: white;
}

.btn-outline {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

/* #region Hero */

.hero {
  background-color: var(--color-bg-dark);
}
.center {
  width: 100%;
  margin: 0 auto;
}
.large {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.medium {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.hero-content {
  display: flex;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.hero-content > *{
  flex-grow: 1;
  flex-basis: 50%;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 30%;
  position: absolute;
}
.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.hero-right {
  position: relative;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--color-text-light);
  font-weight: var(--font-weight-bold);
}

.links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  font-size: var(--font-size-sm);
  color: var(--color-muted);
}

.links a {
  color: inherit;
  text-decoration: none;
}

.hero h1 {
  color: var(--color-text-light);
}

.hero p {
  color: var(--color-muted);
}

/* #endregion */

/* #region Information */

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h2 {
  color: var(--color-bg-dark);
  margin-bottom: 40px;
}

.information-cards {
  display: flex;
  gap: 50px;
}

.information-card {  
  flex: 1;
}

.information-card p {
  text-align: center;
  color: var(--color-bg-dark);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-light);
}

.information-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 5px;
}

/* #endregion */

/* #region Quote */

.quote {
  display: flex;
  flex-direction: column;
  background-color: var(--color-muted);
}

.quote-paragraph {
  font-size: var(--font-size-lg);
  color: var(--color-bg-dark);
  font-weight: var(--font-weight-light);
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-size: var(--font-size-md);
  color: var(--color-bg-dark);
  font-weight: var(--font-weight-bold);
}

/* #endregion */

/* #region Call to Action */


.action-square {
  display: flex;
  background-color: var(--color-accent);
  color: var(--color-muted);
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  border-radius: 10px;
  gap: 40px;
}

.action-square h2 {
  margin-bottom: 8px;
}

/* #endregion */

.footer {
  display: flex;
  background-color: var(--color-bg-dark);
  color: var(--color-muted);
  height: 80px;
  justify-content: center;
  align-items: center;
}
